<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ProjectPath" value="G:\PleskVhosts\koreprojects.com\httpdocs\"/>
  </appSettings>
    <connectionStrings>
        <add name="ApplicationServices" connectionString="Data Source=PRASHANT\SQLEXPRESS;Initial Catalog=webapidb;User ID=sa;Password=sasa"
            providerName="System.Data.SqlClient" />
        <add name="ApplicationServices1" connectionString="Data Source=184.168.194.78;Initial Catalog=A4PP_Phase_Dev2;User ID=A4PPUser;Password=Ktex758@"
            providerName="System.Data.SqlClient" />
        <add name="webapidbConnectionString" connectionString="Data Source=PRASHANT\SQLEXPRESS;Initial Catalog=webapidb;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <webServices>
        <protocols>
          <add name="HttpGet"/>
          <add name="HttpPost"/>
        </protocols>
      </webServices>
      <trust level="Full"  />
      <trace enabled="false" localOnly="true"></trace>
      <customErrors mode="Off"></customErrors>
      <globalization culture="en-GB" uiCulture="en-GB" requestEncoding="utf-8" responseEncoding="utf-8"/>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" maxQueryStringLength="16384" />
    </system.web>
<system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="10999" maxQueryString="2097151" />
      </requestFiltering>
    </security>
     </system.webServer>
</configuration>
